/* Load custom fonts ---------------------- */

$typeface-base: 'Source Sans Pro', sans-serif;
$typeface-header: 'Merriweather', Georgia, serif;
$typeface-header2: 'Droid Serif', Georgia, serif;

@import 'https://fonts.googleapis.com/css?family=Merriweather:700|Source+Sans+Pro:400,700&subset=latin'; 
//|Droid+Serif:700

html {
  font-family: sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

.fonts-loaded {
  font-family: $typeface-base;

  h1, h2, h3, h4, h5, h6 {
    font-family: $typeface-header;
  }
}