/*!
Site Name:      Article Layout
Site URI:     	http://seanockert.com/projects/basa/components/article
Description:    Styled on http://blog.iconfinder.com/sketch-review-2016
Author:         Sean Ockert @seanockert
Author URI:     http://seanockert.com
Version:        1.0
*/

/* Import reset and fonts ---------------------- */

@import "reset";
@import "baseline";
@import "fonts";

$base-padding: 0.75rem;

$color-font: #333;
$color-light: #666;
$color-link: #8257FB;

/* Mixin to prepend vendor prefixes ---------------------- */

/* Usage: .element { @include vendor-prefix(transition, 0.2s all ease-out); } */
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/* Import the swipe slider plugin ---------------------- */
@import "swipe";

/* Main styles  ---------------------- */

html {
  background: #fefefe;
  //@include baseline-grid;
}

body {
  overflow-x: hidden;
  color: $color-font;
  font-size: $base-font-size;
}

.clear {
  clear: both;
  height: 0;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

a {
  color: $color-link;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  
  &:hover, 
  &:active {
    color: darken($color-link, 15%);
  }
}

::-moz-selection, ::selection {
  background: $color-link;
  color: #fff;
  text-shadow: none;
}

/* Typography  ---------------------- */

p { 
  margin: 1em 0;  
}

p, figure, li {
  @include type-setting(0);
}

.intro p {
  @include type-setting(1);
}


/* Headers  ---------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: -0.03em;
  margin-bottom: $base-padding;
  
  &:before {
    display: block;
    width: 100%;
    content: '';
    clear: both;
  }
}

h1 {
  @include type-setting(3);
  text-align: center;
}

h2 {
  @include type-setting(2);
  margin-top: $base-padding*3;
}


/* Lists  ---------------------- */

ul li,
ol li {
  line-height: 1.45;
  padding-bottom: $base-padding/2;
}

menu, ol, ul {
  padding: 0 0 0 24px
}

/* Quote  ---------------------- */

blockquote {
  font-size: 1.5em;
  line-height: 1.3;
  color: $color-light;
  color: $color-link;
  text-align: center;
  padding: $base-padding*2 0;
}


@import "article";
@import "medium-zoom";
@import "print";

