/* Styling for the article page ---------------------- */

article {
  margin: 0 auto;
  max-width: 36rem;
  padding: 0 $base-padding;
  width: 100%;
}

footer {
  color: $color-light;
  font-size: $font-size-small;
  padding: $base-padding * 4 0;
  text-align: center;
}

/* Images ---------------------- */

figure, 
picture {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgba(240,240,240,0.9)" d="M0 48v416h512V48H0zm480 384H32V80h448v352zM352 160c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48zm96 240H64l96-256 128 160 64-48 96 144z"/></svg>') no-repeat center center;
  background-size: 50px 50px;
  text-align: center;
}

.hero,
.full-width {
  left: 50%;
  margin: 0;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.hero {
  background-color: $color-link;
  color: #fff;
  line-height: 0;
  min-height: 100px;

  img {
    width: 100%;
    height: auto;
  }
}

figcaption {
  color: $color-light;
  font-size: $font-size-small;
  margin-top: $base-padding/2;
  text-align: center;
}

/* Author and date ---------------------- */

.article-meta {
  color: $color-light;
  display: table;
  font-size: $font-size-small;
  margin: 0 auto;
  text-align: left;

  img,
  span {
    display: table-cell;
    vertical-align: middle;
  }

  author {
    display: block;
    font-weight: 700;
  }
}

.article-meta-avatar {
  border-radius: 50%;
  float: left;
  height: 50px;
  margin-right: $base-padding;
  width: 50px;
}

.article-meta-aside {
  display: none;
}

/* Buttons for Facebook, Twitter and Comment  ---------------------- */

.article-meta-button {
  border: 1px solid $color-light;
  border-radius: 0.2rem;
  color: #888;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  margin-right: $base-padding/2;
  padding: $base-padding/1.5 $base-padding;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  svg {
    height: 1em;
    margin-right: 3px;
    margin-bottom: -4px;
    width: 1em;
  }

  span {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    background: $color-light;
    color: #fff;

    .icon {
      fill: #fff;
    }
  }

  &:active {
    background: darken($color-light, 15%);
  }

  &.message {
    border-color: $color-green;
    color: $color-green;

    &:hover,
    &:focus {
      background: $color-green;
      color: #fff;
    }

    &:active {
      background: darken($color-green, 15%);
      border-color: darken($color-green, 15%);
    }
  }

  &.twitter {
    border-color: $color-twitter-blue;
    color: #1da1f2;

    &:hover,
    &:focus {
      background: $color-twitter-blue;
      color: #fff;
    }

    &:active {
      background: darken($color-twitter-blue, 15%);
      border-color: darken($color-twitter-blue, 15%);
    }
  }

  &.facebook {
    border-color: $color-facebook-blue;
    color: $color-facebook-blue;
    
    &:hover,
    &:focus {
      background: $color-facebook-blue;
      color: #fff;
    }

    &:active {
      background: darken($color-facebook-blue, 15%);
      border-color: darken($color-facebook-blue, 15%);
    }
  }
}

/* Media Queries ---------------------- */

@media (min-width: 40em) {
  html {
    font-size: $base-font-size * 1.2;
  }

  article {
    padding: 0 $base-padding * 2;
  }

  h1,
  .article-meta {
    text-align: left;
  }

  .article-meta {
    margin: 0;
  }

  .full-width {
    width: 70vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -35vw;
    margin-right: -35vw;
  }

  .article-meta-button {
    font-size: 0.9em;

    svg {
      height: 1.2em;
      width: 1.2em;
      margin-right: 6px;
    }

    span {
      display: inline-block;
    }

    b {
      display: none;
    }
  }
}

@media (min-width: 62em) {
}
