/* Swipe 2 required styles ---------------------- */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;

  > * {
    float:left;
    width:100%;
    position: relative;
    text-align: center;
  }
}

#swipe {
  max-width: 100%;
}

/* END required styles ---------------------- */

/* Swipe 2 navigation ---------------------- */

#prev, 
#next {
  background: #aaa;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  background: none;
  color: $color-link;
  height: 30px;
  width: 30px;
  opacity: 0;
  padding: 0;
  transition: all 0.15s ease-out;
  
  svg {
    height: inherit;
    width: inherit;
  }
}

#prev { left: 0; }
#next { right: 0;}

#swipe-nav {
  text-align: center;
  line-height: 1;
  
  button {
    background: transparent;
    line-height: 0;
    font-size: 0;
    margin: -10px -7px;
    display: inline-block;
    padding: 10px;
    outline: none;
    opacity: 0.3;
    transition: all 0.15s ease-out;
    -webkit-appearance: none;
    
    span {
      height: 9px;
      width: 9px;
      text-indent: -9999px;
      display: block;
      background: #000;
      border-radius: 50%;
    }

    &.active {
    }
  }
}

#prev, 
#next,
#swipe-nav button {
  border: none;
  outline: none;
  
  &:hover, &:focus {
    opacity: 0.5;
  }
  
  &:active {
    opacity: 0.8;
  }  
  
  &.active {
    opacity: 1;
    transform: scale(1.2);
  }
}

@media (min-width: 40em) {
  #prev, 
  #next {
    margin-top: -25px;
    height: 50px;
  }  
}