/* Variables ---------------------- */

$base-padding: 0.75rem;
$base-font-size: 1rem;
$base-line-height: 1.5;

$color-font: #333;
$color-light: #767676;
$color-off-white: #fefefe;
$color-link: #8257FB;
$color-green: #57ad68;
$color-twitter-blue: #1da1f2;
$color-facebook-blue: #3b5998;

$font-size-small: 0.875rem;
$font-size-base: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
$font-size-xxlarge: 3rem;

/* Mixins ---------------------- */

/* Add the image with this aspect ratio so it won't cause the page to jump when it loads */
@mixin aspect-ratio($width, $height) {
  padding-bottom: ($height / $width) * 100%;
  position: relative;
  
  img,
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}